certifi==2020.12.5
click @ file:///home/linux1/recipes/ci/click_1610990599742/work
fastapi==0.63.0
Flask @ file:///home/ktietz/src/ci/flask_1611932660458/work
Flask-SQLAlchemy @ file:///tmp/build/80754af9/flask-sqlalchemy_1616180561581/work
greenlet @ file:///C:/ci/greenlet_1611958376725/work
h11==0.12.0
importlib-metadata @ file:///C:/ci/importlib-metadata_1615900693889/work
itsdangerous==1.1.0
Jinja2 @ file:///tmp/build/80754af9/jinja2_1612213139570/work
joblib==1.0.1
MarkupSafe @ file:///C:/ci/markupsafe_1594405949945/work
numpy==1.20.2
pandas==1.2.3
pydantic==1.8.1
python-dateutil==2.8.1
pytz==2021.1
scikit-learn==0.24.1
scipy==1.6.2
six==1.15.0
SQLAlchemy @ file:///C:/ci/sqlalchemy_1617396831455/work
starlette==0.13.6
threadpoolctl==2.1.0
typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
uvicorn==0.13.4
Werkzeug @ file:///home/ktietz/src/ci/werkzeug_1611932622770/work
wincertstore==0.2
zipp @ file:///tmp/build/80754af9/zipp_1615904174917/work
